.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

body {
  background-color: #f6f8fa;
  display:flex;
  flex-direction: row;
  justify-content: left;
  margin: 3%;
}

.searchBar {
  display: flex;
  background-color: #24292e;
  color: white;
  justify-content: space-evenly;
  flex-direction: row;
}

.userCard {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 3%;
  border: 1px solid #e1e4e8;
  border-radius: 10px;
}

.userImg {
  max-width: 20%;
  border-radius: 30%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
} 
.inputBar {
  display: flex;
  max-width: 20px;
  justify-content: space-around;
  margin: 10px;
  border: none;
}

button {
  background-color: 
  #e1e4e8;
  max-height:20px;
  margin-top: 3px;
}

Input {
  background-color: #e1e4e8;
  border: none;
}
